<h2>Angular</h2>
<hr>
<form #form="ngForm" (ngSubmit)="saveData(form)" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">File Number</label>
    <div class="col-sm-10">
      <input type="text" name="Name" class="form-control" #Name="ngModel" [(ngModel)]="user.Name" required/>
      <div *ngIf="Name.errors && (form.submitted || Name.dirty)" class="text-danger">
        Please Enter Name
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Name of Place</label>
    <div class="col-sm-10">
      <input type="text" name="Username" class="form-control" #Username="ngModel" [(ngModel)]="user.Username" required minlength="4"/>
      <div *ngIf="Username.errors && (form.submitted || Username.dirty)" class="text-danger">
        <span [hidden]="!Username.errors.required">Please Enter Username</span>
        <span [hidden]="!Username.errors.minlength">Username must have 4 chars</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Police Station</label>
    <div class="col-sm-10">
      <input type="text" name="Email" class="form-control" #Email="ngModel" [(ngModel)]="user.Email" required email/>
      <div *ngIf="Email.errors && (form.submitted || Email.dirty)" class="text-danger">
        <span [hidden]="!Email.errors.required">Please Enter Email</span>
        <span [hidden]="!(!Email.errors.required && Email.errors.email)">Please Enter Correct Email</span>
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label class="control-label col-sm-2">Password</label>
    <div class="col-sm-10">
      <input type="password" name="Password" class="form-control" #Password="ngModel" [(ngModel)]="user.Password" required/>
      <div *ngIf="Password.errors && (form.submitted || Password.dirty)" class="text-danger">
        Please Enter Password
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" name="ConfirmPassword" class="form-control" #ConfirmPassword="ngModel" [(ngModel)]="user.ConfirmPassword" validateEqualTo="Password" required/>
      <div *ngIf="ConfirmPassword.errors && (form.submitted || ConfirmPassword.dirty)" class="text-danger">
        <span [hidden]="!ConfirmPassword.errors.required">Please Enter Confirm Password</span>
        <span [hidden]="!(!ConfirmPassword.errors.required && ConfirmPassword.errors?.validateEqual)">Confirm Password doesn't matched</span>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <label class="control-label col-sm-2">Distic</label>
    <div class="col-sm-10">
      <input type="text" name="Contact" class="form-control" #Contact="ngModel" [(ngModel)]="user.Contact" pattern="^[789]\d{9}$"/>
      <div *ngIf="Contact.errors && (form.submitted || Contact.dirty)" class="text-danger">
        Please Enter Correct Contact
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">State</label>
    <div class="col-sm-10">
      <input type="text" name="Contact" class="form-control" >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Type of Area</label>
      <div class="col-sm-10">
        <input type="checkbox" name="vehicle1" value="Bike">Urban
        <input type="checkbox" name="vehicle2" value="Car"> rural<br>
       
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Accidental Type</label>
        <div class="col-sm-10">
          <input type="checkbox" name="vehicle1" value="Bike">fatal
          <input type="checkbox" name="vehicle2" value="Car"> injured
          <input type="checkbox" name="vehicle2" value="Car"> minor injured
          <input type="checkbox" name="vehicle2" value="Car"> Non injured
         
          </div>
        </div>



  <div class="form-group">
    <label class="control-label col-sm-2">Accept Terms</label>
    <div class="col-sm-10">
      <input type="checkbox" name="AcceptTerms" #AcceptTerms="ngModel" [(ngModel)]="user.AcceptTerms" required/>
      <div *ngIf="AcceptTerms.errors && (form.submitted || AcceptTerms.dirty)" class="text-danger">
        Please Accept Terms
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <input type="submit" value="Register" class="btn btn-primary" />
    </div>
  </div>
</form>
