.header{
    border: solid 1px #ccc;
    min-height: 40px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    background:rgb(60, 162, 88);
}
.main_header{
    margin: 6px;
    border: solid 1px #ccc;

}
.header search{
    background-color: hsla(0,0%,100%,.3);
    border-radius: 3px;
    border: none;
    color: hsla(0,0%,100%,.5);
    float: left;
    font-size: 13px;
    height: 32px;
    margin: 0;
    min-height: 32px;
    padding-right: 32px;
    padding-left: 8px;
    line-height: 19px;
    transition: width .15s;
    width: 180px;
    z-index: 1;
} 
#filtersubmit {
    /* position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0; */
    background-color: hsla(0,0%,100%,.3);
    border-radius: 3px;
    border: none;
    color: hsla(0,0%,100%,.5);
    float: left;
    font-size: 13px;
    height: 32px;
    margin: 0;
    min-height: 32px;
    padding-right: 32px;
    padding-left: 8px;
    line-height: 19px;
    transition: width .15s;
    width: 180px;
    z-index: 1;
}
